p {
    font-size: 18px;
}

body {
    background-color: #2c3381;
    text-align: center;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    top: 0px;
    margin-right: calc(-1 * var(--bs-gutter-x)) !important;
    margin-left: calc(-1 * var(--bs-gutter-x)) !important;
    z-index: 2;
    background-color: #d8eaf6;
}

.banner img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;

}

.contentarea {
    background-color: #2c3381;
    background-position: 51% 5%;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.Actionbuttons {
    margin-top: 5%;
}

.Flabutton {
    font-size: 2em;
    color: white;
    display: inline-block;
    border-top: 3px solid #789fc3;
    border-bottom: 3px solid #789fc3;
    padding: 10px 20px;
    border-color: #789fc3;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: border-color 0.3s;
    line-height: 1.3em;
    
    margin-bottom: 35px;
    max-width: 300px;
    width: 100%;
}

.Flabutton:not(:last-child) {
    margin-bottom: 0px;
}

.Flabutton:not(:first-child) {
    margin-top: 0px;
}

.container {
    background-color: #2c3381;
    margin-top: 40px;
    margin-bottom: 35px;

    display: flex;
    flex-direction: column;
}


/*
.button {
    background-color: #2c3381;
    color: white;
    border-top: 3px solid #789fc3;
    border-bottom: 3px solid #789fc3;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: border-color 0.3s;
}

.button:hover {
    border-color: white;
}
*/

.Flabutton:hover {
    border-color: #ffffff;
}

.translator {
    text-align: center;
    margin-top: 35px;
}

.VIpgJd-ZVi9od-l4eHX-hSRGPd,
.goog-te-gadget {
    color: white !important;
}

.footer {
    background-color: #474747;
    color: white;
    padding: 25px 0;
}

.footer p {
    font-size: 1em;
}

.footer a {
    color: #7edbfe;
}

.footersection {
    font-size: 1.3em;
}

@media(max-width: 1400px) {
    .banner {
        top: 4.2em;
    }
}

@media(max-width: 992px) {
    .banner {
        top: 3em;
    }

    .contentarea {
        background-position: 12% 0%;
        background-size: cover;

    }
}


@media(max-width: 767px) {
    .banner {
        top: 2.45em;
    }

    .contentarea {
        background-position: 51% 0%;
    }

    .Flabutton {
        font-size: 1.2em;
    }

    .translator {
        text-align: center;
    }

    .footersection {
        margin-top: 30px;
    }
}

@media(max-width: 500px) {

    .contentarea {
        background-position: 45% 0%;
    }
}